{# Container principal onde o nosso JS externo vai injetar o organograma #}
<div class="organograma-wrapper" style="width: 100%; height: 800px; overflow: auto; background-color: #0f172a;">
  <div id="mikedelta-tree" style="width: 100%; height: 100%;"></div>
</div>